/** begin nav styles **/
.main-nav {
    height: 80px;
    background-color: rgba(124,198,247,.60);
    margin-top: 30px;
    font-size: 25px;
    text-decoration: none;
}
.logo{
    height: 100%;
    float: left;
}
.nav-bar {
    float: right;
}
.a:hover{
    text-decoration: none;
}
.a:link{
    color: #699c7;
    text-decoration: none;
}
/** end nav styles **/
/** begin main content styles **/

/** begin personal interests styles **/
.pi-container{
    width: 100%;
    margin-bottom: 10px;
}
.pi-container:before{
    content: "";
    display: block;
    clear: both;
    padding-top: 10px;
}
.pi-container:after{
    content: "";
    display: block;
    clear: both;
}
.pi-title{
    text-align: center;
    color: #2f6593;
    font-family: 'Bitter', serif;
}
.pi-column{
    width: calc(100%/4);
    height: 400px;
    float: left;
    text-align: center;
    margin-left: 2.5%;
    padding: 2.5%;
    font: 15px;
    color: #2f6593;
    font-family: 'Raleway', sans-serif;
}
.dogs{
    height: 70%;
}
.writing{
    height: 71%;
}
.old-watch{
    height: 50%;
}

/** end personal interests styles **/

/**start selfie and bio styles **/
.about-container{
    height: calc(100%/2);
    margin-top: 20px;
}
.about-container:after{
    content: "";
    display: block;
    clear: both;
}
.about-container:before{
    content: "";
    display: block;
    clear: both;
}
.sb-container{
    width: 45%;
    float: left;
}
.selfie{
    width: 95%;
    margin: 10px;
}
.bio-text{
    text-align: center;
    padding: 10px;
    font: 20px;
    font-family: 'Raleway', sans-serif;
    color: #2f6593;
}
/**end selfie and bio text styles**/

/** end main content styles **/
/** begin footer styles **/
footer{
    margin: 0px auto;
    padding-bottom: 15px;
    width: 100%;
    height: 100px;
    background-color: #a0ceb4;
}
.footer-section{
    width: calc(100%/3);
    float: left;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    font: white;
}
.writing{
    color: #2f6593;
    font-family: 'Bitter', serif;
}
.social-media-container{
    width: 150px;
    margin: 0 auto;
}
.section{
    width: 100%;
}
.soc-media-section:after{
    content: "";
    display: block;
    clear: both;
    padding-top: 10px;
}
.icon-container {
    text-align: center;
    height: 20px;
    width: 20px;
    margin: 0 auto;
}
.left{
    float: left;
}
.right {
    float: right;
}
.social-media-link{
    text-decoration: none;
    font-size: 25px;
    color: white;
}
.social-media-link:hover{
    color: gold;
    text-decoration: hover;
}
.amazon{
    margin-top: 20%;
}
/** end footer styles **/