/** begin nav styles **/
.main-nav {
    height: 80px;
    background-color: rgba(124,198,247,.60);
    margin-top: 30px;
    font-size: 25px;
    text-decoration: none;
}
.logo{
    height: 100%;
    float: left;
}
.nav-bar {
    float: right;
}
.a{
    text-decoration: none;
}
.a:link{
    color: #699c7;
    text-decoration: none;
}
.nav-text{
    text-decoration: none;
    color:#2f6593;
}
.nav-text:hover{
    text-decoration: overline;
}
/** end nav styles **/


/** begin footer styles **/
footer{
    margin: 0px auto;
    padding-bottom: 15px;
    width: 100%;
    height: 100px;
    background-color: #a0ceb4;
}
.footer-section{
    width: calc(100%/3);
    float: left;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    font: white;
}
.writing{
    color: #2f6593;
    font-family: 'Bitter', serif;
}
.social-media-container{
    width: 150px;
    margin: 0 auto;
}
.section{
    width: 100%;
}
.soc-media-section:after{
    content: "";
    display: block;
    clear: both;
    padding-top: 10px;
}
.icon-container {
    text-align: center;
    height: 20px;
    width: 20px;
    margin: 0 auto;
}
.left{
    float: left;
}
.right {
    float: right;
}
.social-media-link{
    text-decoration: none;
    font-size: 25px;
    color: white;
}
.social-media-link:hover{
    color: gold;
    text-decoration: hover;
}
.amazon{
    margin-top: 20%;
}
/** end footer styles **/